* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pulse-effect {
    position: relative;
}
.button {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e1e1e1;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.button {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e1e1e1;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.wave1, .wave2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    background-color: #ececec;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

@keyframes pulseEffect1 {
    from {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0.4;
    }
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
@keyframes pulseEffect2 {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.6;
    }
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.button:hover {
    background-color: #00ccff;
}

.button:hover ~ .wave1{
    animation: pulseEffect1 1.5s infinite linear;
}
.button:hover ~ .wave2{
    animation: pulseEffect2 1.5s infinite linear;
}




























