.portfoilo-area {
    overflow: hidden;
}
.portfolio-nav {
    text-align: center;
    margin: 30px 0;
}
.portfolio-nav ul {
    padding: 0;
    margin: 0;
}
.portfolio-nav ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
}
.portfolio-nav ul li a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #e7e7e7;
    color: #000000;
    cursor: pointer;
    transition: all 1s ease;
}
.portfolio-nav ul li a:hover {
    background-color: #00aeff;
}



.portfolio-grid {
    overflow: hidden;
}
.portfolio-item {
    padding: 0;
    margin: 0;
}
.portfolio-single img{
    width: 100%;
}






